.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  height: 100%;
  transition: all ease .3s;
}

.hover_theme {
  transition: all ease .3s;
}

.card:hover {
  transform: scale(1.03);
}

.flag {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #e5e5e58e;
}

.name {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
}

.card_theme {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 40px;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(0, 213, 255, 0.15) 0%, #fff 100%);
  transition: all ease .3s;
}

.card_theme:hover {
  background: linear-gradient(90deg, rgba(0, 213, 255, 0.45) 0%, #fff 70%);
}

.card_theme:hover .hover_theme {
  transform: translate(10px);
}

.flag_theme {
  width: 30px;
  height: 15px;
  border: 1px solid #e3e3e3;
  margin-right: 10px;
}

.name_theme {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}

.buttons_container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5px;
}

.buttons_container_theme {
  display: flex;
  margin-left: auto;
}

.buttons_container_theme button:first-child {
  margin-right: 5px;
}